/* login */
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

/* logo */
.nav-section {
  display: flex;
  justify-content: center;
}

/* manu */
.menu-area {
  display: flex;
  justify-content: center;
}

.manu-list {
  display: flex;
  list-style-type: none;
}

.manu-list li {
  padding: 10px
}

/* search */
.search {
  border-bottom: 1px solid black;
  height: 30px;
}

.search input {
  border: 0px;
  padding-left: 10px;
}

.search input:focus {
  outline: none;
}

/* 상세 페이지 */
.product-img {
  display: flex;
  justify-content: flex-end;
}